html{
  position: relative;

}

body{

}

.container{
  min-height: 100vh;
  /*background-color: lightgrey;*/
  max-width: 740px;
}

h3{

}

ul{
  padding-left: 20px;
}

#footer{
  /*background-color: lightpink;*/
  font-size: 11pt;
}

#header-nav{
  /*background-color: lightgreen;*/
}

#header-nav h3{
  color: darkblue;
  text-transform:
}
#header-nav h3 a{
  color: darkblue;
}
#header-nav h3 a:hover{
  color: orange;
  text-decoration: none;
}

#header-nav a{
  color: black;

}

.mobile-header a{
  color: darkblue;
  font-size: 18pt;
}

.mobile-header a:hover{
  text-decoration: none;
}

#mobile-nav{
  background-color: darkblue;
  position: absolute;
  width: 0;
  height: 100vh;
  z-index: 5;
  opacity: 0.95;
  top: 0;
  text-align: left;
  overflow-x: hidden;
  transition: 0.5s;
  left: 0;
  padding-top: 0;
  margin-top: 0;
}

#mobile-nav a{
  margin-left: 15px;
  margin-right: 15px;
  line-height: 3;
  color: white;
  white-space: nowrap;
  top: 0;
  font-size: 16pt;
}

#mobile-nav a:hover{
  color: grey;
  text-decoration: none;
}
