<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <title>{{ page.title }} | {{ site.title }}</title>
    <!-- bootstrap stylesheet -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <div class="container d-flex flex-column">
      <div class="d-none d-sm-block" id="header-nav">
        <div class="d-flex mt-4 align-items-center">
          <div class="flex-grow-1"><h3><a href="/">Example site logo</a></h3></div>
          <div class="mx-4"><a href="about_us">About</a></div>
          <div class="mx-4"><a href="blog">Blog</a></div>
          <div class="ml-4"><a href="contact">Contact</a></div>
        </div>
        <hr>
      </div>


      <!-- mobile nav-->
      <div class="" id="mobile-nav">
        <div class="text-right mt-3">
          <a href="#" onclick="closeMobileNav()" id="menu-close"><i class="material-icons">
          close</i></a>
        </div>
        <a href="/" onclick="" class="">Home</a><br>
        <a href="/about_us" onclick="" class="">About</a><br>
        <a href="/blog" onclick="">Blog</a><br>
        <a href="/contact" onclick="">Contact</a><br>
      </div>
      <!-- end mobile nav-->

      <!-- mobile header -->
      <div class="d-block d-sm-none">
        <div class="mobile-header d-flex justify-content-between mt-3">
          <a href="/">Example site logo</a>
          <a href="#"><i class="material-icons" id="menu-toggle" onclick="openMobileNav()">menu</i></a>
        </div>
        <hr>
      </div>
      <!-- end mobile header -->


        <div id="page-content">

          <h1>{{ page.title }}</h1>
          {{ content }}

        </div>


      <div class="mt-auto mb-3 text-right" id="footer">
        ________ <br>
        © 2020 example site
      </div>

    </div>
    <!-- bootstrap javascript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

    <script type="text/javascript">
      function openMobileNav() {
        $("#mobile-nav").css("width", "100%");
        $("#menu-close").css("opacity", "1");
        $("body").css("overflow", "hidden");
        $("body").css("position", "fixed");
      }
    </script>

    <script type="text/javascript">
      function closeMobileNav() {
        $("#mobile-nav").css("width", "0");
        $("#menu-close").css("opacity", "0");
        $("body").css("overflow", "visible");
        $("body").css("position", "static");
      }
    </script>


  </body>
</html>
